{%load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
 
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
 
    <!-- Main CSS-->
    <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
    <style>
 
    </style>
  </head>
  <body>
    {% include "blood/navbar.html" %}
 
 
    <section class="vh-100 gradient-custom bg-gra-02">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card text-white bg-dark" style="border-radius: 1rem">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">Donor Login</h2>
                    <!--  -->
                    <form method="POST">
                      {% csrf_token %}
                    <p class="text-white-50 mb-5">
                      Please enter your login and password!
                    </p>
   
                    <div class="form-outline form-white mb-4">
                      <div class="name">Username</div>
                      <div class="value">
                        <div class="input-group">
                          {% render_field form.username class="input--style-5"%}
                        </div>
                      </div>
                    </div>
   
                    <div class="form-outline form-white mb-4">
                      <div class="name">Password</div>
                      <div class="value">
                        <div class="input-group">
                          {% render_field form.password class="input--style-5"%}
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-outline-light btn-lg px-5"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                </form>
                  <div>
                    <pclass="mb-0">
                      <p style="text-align: center;">Don't not have an account ? 
                      <a style="text-decoration: none;" href="/donor/donorsignup">Sign Up</a></p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
 
{% include "blood/footer.html" %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>